.notReady__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notReady__container {
  padding: 30px;
  border-radius: 20px;
  background-color: white;
}

.notReady__container p {
  font-size: 24px;
  margin: 5px 0;
}

.notReady__button {
  padding: 10px;
  color: rgb(37, 37, 37);
  background-color: #dddddd;
  border: 3px solid #eeeeee;
  border-radius: 10px;
  font-size: 16px;
  transition: background-color 400ms ease-in, color 400ms ease-in;
  cursor: pointer;
  margin: 5px 0;
}

.notReady__button:hover {
  background-color: white;
  /* color: #0e83cd; */
}
